<%- layout("layout/boilerplate") %> 
<body>
    <h1>All Camp Grounds <a href="/campgrounds/new">add new</a></h1>
    <ul>
       <% for (let campground of campgrounds){ %>  
        <li> <a href="/campgrounds/<%= campground._id%>"><%= campground.title %>  </a></li>
        <% }  %>  
    </ul>
</body>
