<%- layout("layout/boilerplate") %>
<body>
  <div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
      <form action="/campgrounds" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" id="title" class="form-control"/>
        </div>
       <div class="mb-3">
        <label for="location"  class="form-label">Location</label>
        <input type="text" name="location" id="location" class="form-control"/>
       </div>
       <div class="mb-3">
        <label for="image"  class="form-label">Select Image</label>
        <input type="text" name="image" id="image" class="form-control"/>
       </div>
       <div class="mb-3">
        <label for="price">Price</label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="price-label">$</span>
            <input type="number" class="form-control" placeholder="0" id="price" aria-label="price" aria-describedby="price-label" name="price">
          </div>
       </div>
       <div class="mb-3">
        <label for="description"  class="form-label">Description</label>
        <textarea type="text" name="description" id="description" class="form-control"></textarea>
       </div>
      
      
        <div class="mb-3">
            <button type="submit" class="btn btn-success">submit</button>
        </div>
      </form>
      <a href="/camgrounds">All campgrounds</a>
    </div>
  </div>
</body>
