<%- layout("layout/boilerplate") %> 
<body>
    <h1>Create New Campground</h1>
    <form action="/campgrounds" method="post">
        <input type="text" name="title" id="title">
        <input type="text" name="location" id="location">
        <button type="submit">submit</button>
    </form>
</body>
